.quote {
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #333;
  box-shadow: 2px 2px 3px #333333;
}
.quote span.text {
  display: block;
  margin-bottom: 5px;
  font-size: large;
  font-style: italic;
}
