<span class="author">by {{ quote.author }}</span>
<hr />
<div class="d-flex justify-content-between">
  <div class="vote d-flex align-items-center">
    <span class="mr-3"
      ><i (click)="quoteUpvote()" class="fa fa-caret-up"></i> {{ upvote }}</span
    >
    <span class="mr-3"
      ><i (click)="quoteDownvote()" class="fa fa-caret-down"></i
      > {{ downvote }}</span
    >
  </div>
  <div class="text-right">
    <span class="created">created {{ quote.datePosted | date }}</span
    ><br />
    <span class="creator">by {{ quote.creator }}</span>
  </div>
</div>
