<form [formGroup]="quoteForm" (ngSubmit)="onSubmit(quoteForm.value)">
  <div class="form-group">
    <label for="quoteText">Quote</label>
    <textarea
      class="form-control"
      id="quoteText"
      rows="4"
      placeholder="Enter the quote text here..."
      formControlName="quoteText"
    ></textarea>
  </div>
  <div class="form-group">
    <label for="quoteAuthor">Author</label>
    <input
      class="form-control"
      type="text"
      id="quoteAuthor"
      formControlName="quoteAuthor"
    />
  </div>
  <div class="form-group">
    <label for="quoteCreator">Creator</label>
    <input
      class="form-control"
      type="text"
      id="quoteCreator"
      formControlName="quoteCreator"
    />
  </div>
  <button type="submit">Post Quote</button>
</form>
